@page "/category/language"

@inject HttpClient http
@using Portfolio.Shared.ViewModels
<h3>Language</h3>

<div>
    <ul>
        @foreach (var l in languages)
        {
            <li>
                 @l.Name
                <ul>
                    @foreach (var pl in l.Projects)
                    {
                    <li id="@pl.Title"><a href="./project/projectdetails/@pl.Slug">@pl.Title</a></li>
                    }
                </ul>
            </li>
        }
    </ul>
</div>

@code {
    private IEnumerable<LanguageViewModel> languages = new List<LanguageViewModel>();


    protected override async Task OnInitializedAsync()
    {
        await RefreshCategoriesAsync();
    }

    private async Task RefreshCategoriesAsync()
    {
        languages = await http.GetFromJsonAsync<IEnumerable<LanguageViewModel>>("/api/category/language");
    }


}
