@page "/projectdetails/{ProjectId:int}"
@inject HttpClient http
@using Portfolio.Shared

<h3>ProjectDetails @ProjectId</h3>
<p>@projectName @projectRequirements @projectDesign @projectCompletionDate</p>


@code {
    [Parameter]
    public int ProjectId { get; set; }

    private string projectName;
    private string projectRequirements;
    private string projectDesign;
    private DateTime projectCompletionDate;


    private Project projects = new Project();

    protected override async Task OnInitializedAsync()
    {
        var project = await http.GetFromJsonAsync<IEnumerable<Project>>($"api/project/projectdetails/{ProjectId}");

        projectName = project.First().Title;
        projectRequirements = project.First().Requirements;
        projectDesign = project.First().Design;
        projectCompletionDate = project.First().CompletionDate;

    }
}
