@page "/category/technology"

@inject ProjectApiService api
@using Portfolio.Shared.ViewModels
<h3>Technology</h3>

<div>
    <ul>
        @foreach (var t in technologies)
        {
            <li>
                @t.Name
                <ul>
                    @foreach (var pt in t.Projects)
                    {
                        <li id="@pt.Title"><a href="./project/projectdetails/@pt.Slug">@pt.Title</a></li>
                    }
                </ul>
            </li>
        }
    </ul>
</div>

@code {
    private IEnumerable<TechnologyViewModel> technologies = new List<TechnologyViewModel>();


    protected override async Task OnInitializedAsync()
    {
        await RefreshCategoriesAsync();
    }

    private async Task RefreshCategoriesAsync()
    {
        technologies = await api.GetTechnologies();
    }

}
